<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>业务监控系统</title>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 class="text-center">
				业务监控系统
			</h3>
			<table class="table table-condensed table-bordered">
				<thead>
					<tr>
						<th>
							URL
						</th>
                        <th>
							服务
						</th>
						<th>
							状态
						</th>
						<th>
							更新时间
						</th>
						<th>
							详情
						</th>
					</tr>
				</thead>
				<tbody>
                 {% for foo in list %}
					<tr class="success">
						<td>
							{{ foo.host }}
						</td>
                        	<td>
							{{ foo.server}}
						</td>
                        	<td>
							{{ foo.serstatus }}
						</td>
                        	<td>
							{{ foo.date }}
						</td>
                        	<td>
							{{ foo.decs|safe }}
						</td>
					</tr>
                  {% endfor %}
					<tr class="warning">
						<td>
							V2
						</td>
                        <td>
							CPU
						</td>
						<td>
							异常
						</td>
						<td>
							2017/4/7
						</td>
						<td>
							主机状态异常
						</td>
					</tr>
                    <tr class="warning">
						<td>
							V3
						</td>
                        <td>
							CPU
						</td>
						<td>
                            未知
						</td>
						<td>
							2017/4/7
						</td>
						<td>
							主机状态未知
						</td>
					</tr>


				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>
